<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>商城首页</title>
</head>
<body>
<!--1.创建一个八行一列的表格-->
<table border="1px" width="1300px" align="center" cellpadding="0px" cellspacing="0px">
    <!--2.logo部分-->
    <tr>
        <td>
            <!--嵌套一个一行三列的表格-->
            <table border="1px" width="100%">
                <tr height="50px">
                    <td width="33.3%">
                        <img src="" height="47px" />
                    </td>
                    <td width="33.3%">
                        <img src="" height="47px"/>
                    </td>
                    <td width="33.3%">
                        <a href="#">登录</a>
                        <a href="#">注册</a>
                        <a href="#">购物车</a>
                    </td>
                </tr>
            </table>
        </td>
    </tr>

    <!--3.导航栏-->
    <tr height="50px" >
        <td bgcolor="black">
            <a href="#"><span size="3" color="white">首页</span></a>&nbsp; &nbsp; &nbsp; &nbsp;
            <a href="#"><span color="white">手机数码</span></a> &nbsp; &nbsp; &nbsp; &nbsp;
            <a href="#"><span color="white">电脑办公</span></a>&nbsp; &nbsp; &nbsp; &nbsp;
            <a href="#"><span color="white">鞋靴箱包</span></a>&nbsp; &nbsp; &nbsp; &nbsp;
            <a href="#"><span color="white">家用电器</span></a>
        </td>
    </tr>

    <!--4.轮播图-->
    <tr>
        <td>
            <img src="" width="100%" />
        </td>
    </tr>
    <!--5.最新商品-->
    <tr>
        <td>
            <!--嵌套一个三行七列的表格-->
            <table border="1px" width="100%">
                <tr height="50px">
                    <td colspan="7">
                        <span size="5">最新商品</span>&nbsp; &nbsp; &nbsp; &nbsp;
                        <img src="" />
                    </td>
                </tr>

                <tr>
                    <td rowspan="2" width="190px" height="500px">
                        <img src="../img/big01.jpg" width="100%" height="100%"/>
                    </td>

                    <td colspan="3" width="555px" height="250px">
                        <a href="#"><img src="../img/middle01.jpg" width="100%" height="100%"/></a>
                    </td>

                    <td width="185px" height="250px" align="center">
                        <a href="#"><img src="../img/small03.jpg" /></a><br />
                        <a href="#"><span color="gray">锅</span></a><br /><br />
                        <span color="red">399</span>
                    </td>

                    <td width="185px" height="250px" align="center">
                        <a href="#"><img src="../img/small01.jpg" /></a><br />
                        <a href="#"><span color="gray">榨汁机</span></a><br /><br />
                        <span color="red">599</span>
                    </td>

                    <td width="185px" height="250px" align="center">
                        <a href="#"><img src="../img/small02.jpg" /></a><br />
                        <a href="#"><span color="gray">电视</span></a><br /><br />
                        <span color="red">2500</span>
                    </td>
                </tr>
                <tr>
                    <td width="185px" height="250px" align="center">
                        <a href="#"><img src="../img/small06.jpg" /></a><br />
                        <a href="#"><span color="gray">洗衣机</span></a><br /><br />
                        <span color="red">1800</span>
                    </td>
                    <td width="185px" height="250px" align="center">
                        <a href="#"><img src="../img/small08.jpg" /></a><br />
                        <a href="#"><span color="gray">压力锅</span></a><br /><br />
                        <span color="red">499</span>
                    </td>
                    <td width="185px" height="250px" align="center">
                        <a href="#"><img src="../img/small09.jpg" /></a><br />
                        <a href="#"><span color="gray">微波炉</span></a><br /><br />
                        <span color="red">499</span>
                    </td>
                    <td width="185px" height="250px" align="center">
                        <a href="#"><img src="../img/small07.jpg" /></a><br />
                        <a href="#"><span color="gray">扫地机器人</span></a><br /><br />
                        <span color="red">1500</span>
                    </td>
                    <td width="185px" height="250px" align="center">
                        <a href="#"><img src="../img/small04.jpg" /></a><br />
                        <a href="#"><span color="gray">面包机</span></a><br /><br />
                        <span color="red">800</span>
                    </td>
                    <td width="185px" height="250px" align="center">
                        <a href="#"><img src="../img/small05.jpg" /></a><br />
                        <a href="#"><span color="gray">咖啡机</span></a><br /><br />
                        <span color="red">1000</span>
                    </td>
                </tr>
            </table>
        </td>
    </tr>

    <!--6.广告图片-->
    <tr>
        <td>
            <img src="../img/ad.jpg" width="100%" />
        </td>
    </tr>

    <!--7.广告图片-->
    <tr>
        <td>
            <img src="../img/footer.jpg"  width="100%"/>
        </td>
    </tr>

    <!--8.友情链接和版权信息-->
    <tr>
        <td align="center">
            <a href="#"><span>关于我们</span></a>
            <a href="#"><span>联系我们</span></a>
            <a href="#"><span>招贤纳士</span></a>
            <a href="#"><span>法律声明</span></a>
            <a href="#"><span>友情链接</span></a>
            <a href="#"><span>支付方式</span></a>
            <a href="#"><span>配送方式</span></a>
            <a href="#"><span>服务声明</span></a>
            <a href="#"><span>广告声明</span></a>
            <p>
                Copyright © 2018-2020 hh商城 版权所有
            </p>
        </td>
    </tr>
</table>
</body>
</html>